:root {
    margin: 0;
}

.navigation {
    position: -webkit-sticky;
    position: sticky;
    margin: 0px 0px;
    background-color: rgba(3, 127, 252);
    color: #ffebcd;
    padding: 14px;
    top: 0;
}

nav a {
    margin: 0px 68px;
    font-size: 24px;
    color: white;
    padding: 13px;
}

nav a:hover {
    margin: 0px 68px;
    font-size: 24px;
    background-color: black;
    color: white;
    width: 20px;
}

.para {
    margin-top: 40px;
}

body {
    text-align: center;
    background-color: whitesmoke;
}

input[type=email] {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}

input[type=password] {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}

.blue-text {
    color: rgba(3, 127, 252);
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.background {
    background-color: white;
    height: 370px;
    align-items: center;
    justify-content: center;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 15px;
}

.blue-background {
    background-color: rgb(3, 127, 252);
    color: white;
    width: 260px;
    height: 35px;
    border-radius: 5px;
}

.green-background {
    background-color: rgb(106, 172, 9);
    color: white;
    height: 30px;
    border-radius: 5px;
}

.blue-color {
    color: rgb(3, 127, 252);
}

.face {
    padding-top: 0px;
}